.dashboard-container {
  padding: 20px;
  color: white;
}

.search-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.search-label {
  font-weight: 500;
  color: #ccc;
}

.search-select {
  padding: 8px 10px;
  background-color: #2a2a2a;
  color: #fff;
  border: 1px solid #3e3e3e;
  border-radius: 5px;
  font-size: 14px;
}

.search-input {
  padding: 10px 14px;
  background-color: #121212;
  border: 1px solid #3e3e3e;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  min-width: 280px;
  max-width: 420px;
  width: 100%;
}

.search-input::placeholder {
  color: #888;
}